ultralytics==8.1.42
easyocr==1.7.1
opencv-python==4.9.0.80
flask==3.0
gunicorn==21.0.1
dill==0.3.8
torch
torchvision>=0.5
opencv-python-headless
scipy
numpy
Pillow
scikit-image
python-bidi
PyYAML
Shapely
pyclipper 
ninja